<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cat.copernic.donate">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoicono"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DonAte">
        <activity
            android:name=".ui.ReContraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ReDonacionesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.aboutus"
            android:exported="false" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DonAte">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.registro.RegistroActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DonAte" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.DonAte" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="cat.copernic.donate.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>